<!-- 필터 모달 -->
<div id="filterModal" class="sch_modal">
    <div class="sch_modal_content">
        <div class="drag-handle"></div>
        <!-- 드래그 핸들 추가 -->
        <div class="container">
            <form id="filterForm" action="/submit_filters" method="POST">
                <div class="filter-section">
                    <h5>거리 설정</h5>
                    <p class="text-center" id="distanceText">1km ~ 2km</p>
                    <div class="slider-container">
                        <div class="slider-track"></div>
                        <div class="slider-range" id="sliderRange"></div>
                        <input type="range" class="slider" id="distanceSlider" min="2" max="10" step="1" value="1" />
                        <div class="price-labels">
                            <span style="color: #a6a4a5;">가까운 곳</span>
                            <span style="color: #a6a4a5;">먼 곳</span>         
                        </div>
                    </div>
                </div>

                    <h5>음식종류</h5>
                    <div class="filter-buttons" data-category="food">
                        <button type="button" class="btn" data-value="한식">한식</button>
                        <button type="button" class="btn" data-value="일식">일식</button>
                        <button type="button" class="btn" data-value="중식">중식</button>
                        <button type="button" class="btn" data-value="양식">양식</button>
                        <button type="button" class="btn" data-value="분식">분식</button>
                    </div>
                    
                    <div class="filter-buttons mt-3">
                        <button type="button" class="btn btn-close">닫기</button>
                        <button type="submit" class="btn btn-apply">적용하기</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>