<!-- templates/partials/location_modal.html -->
<div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="modal-header-info">
                    <h4 class="restaurant-name">데이터 로드중입니다</h4>
                    <p class="modal-address" id="modalAddress">서울 강남구 양재천로42길 23 1층 더나인클럽</p>
                </div>
                <div id="map-container" style="height: 300px; margin: 20px;">
                    <div id="map" style="height: 100%;"></div>
                </div>
                <button class="custom-map-button mb-4 mt-1 location-button">카카오 맵으로 확인하기</button>
            </div>
        </div>
    </div>
</div>
