<ul class="navbar-nav sidebar" id="accordionSidebar" style="background-color: #fff;">
  <hr class="sidebar-divider my-0" />
  
  <!-- 대시보드 -->
  <li class="nav-item">
    <a class="nav-link" onclick="location.href='/reservation_owner';">
      <i class="fas fa-tachometer-alt"></i>
      <span>대시보드</span>
    </a>
  </li>
  
  <!-- 가게 정보 -->
  <li class="nav-item">
    <a class="nav-link" onclick="location.href='/owner_StoreInfo';">
      <i class="fas fa-money-check"></i>
      <span>가게 정보</span>
    </a>
  </li>

  <hr class="sidebar-divider d-none d-md-block" />
</ul>