<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>챗봇과 대화</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/pretendard/dist/web/variable/pretendardvariable.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link href="/static/css/chat.css" rel="stylesheet">
    <style>
        
    </style>
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">챗봇과 대화</div>
        <div class="chat-messages" id="chat-messages">
            <!-- 답변 결과 -->
            
        </div>
        
        <div class="faq-buttons">
            <!-- 좌우 스크롤 가능 -->
            <button class="faq-button mr-2 mb-1" data-question="주류 추천">주류 추천</button>
            <button class="faq-button mr-2 mb-1" data-question="예약 현황">예약 현황</button>
            <button class="faq-button mr-2 mb-1" data-question="앱 기능 질문">앱 기능 질문</button>
            <button class="faq-button mr-2 mb-1" data-question="버그 제보">버그 제보</button>
            
        </div>

        <div class="chat-input">
            <textarea id="user-input" rows="1"></textarea>
            <button id="send-button">전송</button>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/js/chat.js" type="module"></script>
</body>
</html>