<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>와인 정보</title>
    <link rel="stylesheet" href="/static/css/drink_info.css" />
  </head>
  <body>
    <div class="container">
      <div class="wine-image">
        <img src="/static/img/wine_G7.png" alt="Wine Bottle Image" />
      </div>
      <h3>Chateau Rorneau</h3>
      <p>이 와인은 바닐라의 은은한 향기에 더 깊게 침투할 수 있습니다.</p>
      <h3>평가 및 리뷰 (100)</h3>
      <div class="rating-container">
        <div class="rating-bar-container">
          <div class="rating-bar">
            <div class="rating-fill" style="width: 70%"></div>
            <p class="text"><strong>5</strong></p>
          </div>
        </div>
        <div class="rating-bar-container">
          <div class="rating-bar">
            <div class="rating-fill" style="width: 50%"></div>
            <p class="text"><strong>4</strong></p>
          </div>
        </div>
        <div class="rating-bar-container">
          <div class="rating-bar">
            <div class="rating-fill" style="width: 30%"></div>
            <p class="text"><strong>3</strong></p>
          </div>
        </div>
        <div class="rating-bar-container">
          <div class="rating-bar">
            <div class="rating-fill" style="width: 20%"></div>
            <p class="text"><strong>2</strong></p>
          </div>
        </div>
        <div class="rating-bar-container">
          <div class="rating-bar">
            <div class="rating-fill" style="width: 10%"></div>
            <p class="text"><strong>1</strong></p>
          </div>
        </div>
        <div class="rating-avg">
          <p><strong>4.5 ★</strong></p>
        </div>
      </div>
      <h3>리뷰</h3>
      <div class="review-section" id="review-section">
        <!-- 리뷰 데이터가 이곳에 추가됩니다 -->
      </div>
    </div>
    <script src="/static/js/review_data.js"></script>
  </body>
</html>
