<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Page</title>
    <link
      href="https://fonts.googleapis.com/css?family=Pretendard&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=JejuMyeongjo&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/mypage.css" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <span class="notification-icon">🔔</span>
        <h1>마이페이지</h1>
        <span class="settings-icon">⚙️</span>
      </header>

      <div class="profile-section">
        <span class="nickname">이정현님</span>
        <span class="arrow_my"
          ><a href="#" style="text-decoration-line: none;">></a></span
        >
      </div>

      <div class="reservations">
        <div class="reservation-header">
          <span class="icon">📊</span>
          <h2>나의 예약</h2>
          <span class="arrow">></span>
        </div>
        <div class="reservation-item">
          <div class="left">
            <span class="title">스시쥬고야</span>
            <span class="details">스시오마카세 · 가로수길</span>
          </div>
          <div class="right">
            <span class="date">2024.09.13 (금) 오후 1:00 2명</span>
            <span class="policy"
              >결제 취소 및 환불까지 평균 7일이 걸립니다.</span
            >
          </div>
        </div>
        <div class="reservation-item">
          <div class="left">
            <span class="title">바이우</span>
            <span class="details">스시오마카세 · 양재</span>
          </div>
          <div class="right">
            <span class="date">2024.09.22 (토) 오후 7:00 2명</span>
            <span class="policy"
              >결제 취소 및 환불까지 평균 7일이 걸립니다.</span
            >
          </div>
        </div>
      </div>

      <nav class="menu">
        <div class="menu-item">저장 목록</div>
        <div class="menu-item">리뷰 관리</div>
      </nav>

      <div class="coupon-section">
        <div class="coupon-item">
          <span>쿠폰함</span>
          <span>0장</span>
        </div>
        <div class="coupon-item">
          <span>포인트</span>
          <span>0원</span>
        </div>
      </div>

      <div class="info-contact-container">
        <div class="info-section">
          <h2>혜택 정보</h2>
          <div class="info-items">
            <div class="info-item"><a href="#">포인트 모으기</a></div>
            <div class="info-item"><a href="#">진행 중인 이벤트</a></div>
          </div>
        </div>
        <div class="contact-section">
          <h2>문의 및 알림</h2>
          <div class="contact-items">
            <div class="contact-item"><a href="#">고객센터</a></div>
            <div class="contact-item"><a href="#">자주 묻는 질문</a></div>
          </div>
          <div class="contact-items">
            <div class="contact-item"><a href="#">공지사항</a></div>
            <div class="contact-item"><a href="#">약관 및 정책</a></div>
          </div>
          <div class="contact-items">
            <div class="contact-item full-width">
              <a href="#">현재 버전 1.0.0</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
