<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="/static/css/mypage.css">
</head>
<body>
    <header class="header">
        <h1>나만의 한잔</h1>
        <div class="settings-icon">⚙️</div>
    </header>

    <div class="profile-section">
        <div class="profile-picture"><img src="/static/img/fast_food.png"></div>
        <div class="profile-info">
            <span class="nickname">이하민</span></p>
            <div class="account-management">
                <span>👥 가족계정</span>
                <span>📍 주소관리</span>
            </div>
        </div>
    </div>

    <nav class="menu">
        <div class="menu-item">주문내역</div>
        <div class="menu-item">나의 찜</div>
        <div class="menu-item">리뷰관리</div>
    </nav>

    <div class="club-info">
        <p>체험 기간 5일 남음</p>
        <p>총 <span class="highlight">11,400원</span> 배달팁 혜택을 받았어요</p>
        <div class="club-actions">
            <div>혜택 모아보기</div>
            <div>배민포인트 모으기</div>
        </div>
    </div>

    <div class="promo-banner">
        <img src="/static/img/mypage_banner.png" alt="치킨 이미지">
    </div>

    <div class="coupon-section">
        <div class="coupon-item">
            <p>3장</p>
            <p>쿠폰함</p>
        </div>
        <div class="coupon-item">
            <p>0원</p>
            <p>포인트</p>
        </div>
        <div class="coupon-item">
            <p>0원</p>
            <p>받은 선물</p>
        </div>
    </div>
    
</body>
</html>
