<!DOCTYPE html>
<html lang="ko">
  <head>
    <script src="https://unpkg.com/@supabase/supabase-js@2"></script>
    <script type="module" src="/static/js/reservation.js"></script>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/static/css/res_info.css" />
    <title>음식점 정보</title>
  </head>
  <body>
    <div class="container">
      <div class="slider-container" id="sliderContainer">
        <div class="image-slider" id="slider">
          <div class="slide">
            <img src="/static/img/res_sample_img.jpg" alt="Dish Image 1" />
          </div>
          <div class="slide"> 
            <img src="/static/img/res_sample_img.jpg" alt="Dish Image 2" />
          </div>
          <div class="slide">
            <img src="/static/img/res_sample_img.jpg" alt="Dish Image 3" />
          </div>
        </div>
        <div id="slider-counter" class="slider-counter">1/3</div>
      </div>
      <p class="mt-3 mb-1 dish-type">한식</p>
      <h4 class="restaurant-name">데이터 로드중입니다</h4>
      <div class="d-flex align-items-center">
        <i class="bi bi-star-fill text-warning"></i>
        <span class="ml-2 rating">4.9</span>
        <span class="ml-2 text-muted">848개 리뷰</span>
      </div>
      <p class="mt-2 description">
        맛과 멋을 중시하는 고객 중심의 스시 오마카세 콜키지 가능합니다 10시 이후
        단품만 가능합니다.
      </p>
      <div class="btn-separator">
        <a href="tel:05012345678910" class="btn">전화</a>
        <div class="vertical-line"></div>
        <button class="btn" data-toggle="modal" data-target="#locationModal">
          위치
        </button>
      </div>
      <!-- <hr class="separator" />
      <h5 class="reservation-heading">예약 일시</h5>
      <div class="d-flex align-items-center mb-3" id="dateInfo">
        <i class="bi bi-calendar-event"></i>
        <span class="ml-2 date-details"
          >오늘(토) / <span id="peopleCount">2</span>명</span
        >
        <input
          type="text"
          id="datepicker"
          class="ml-3"
          style="display: none;"
        />
      </div> -->
      <!-- <div class="reservation-times d-flex flex-wrap justify-content-between">
        <button class="custom-outline-danger">18:00</button>
        <button class="custom-outline-danger">18:30</button>
        <button class="custom-outline-danger">19:00</button>
        <button class="custom-outline-danger">19:30</button>
      </div> -->
      <hr class="separator" />

      <!-- Tab Navigation -->
      <div class="tab-navigation mt-4">
        <button class="tab-button active" data-target="#menu">메뉴</button>
        <button class="tab-button" data-target="#photos">사진</button>
        <button class="tab-button" data-target="#reviews">리뷰</button>
        <button class="tab-button" data-target="#store-info">매장정보</button>
      </div>

      <!-- Tab Content -->
      <div class="tab-content active" id="menu">
        <h5 class="mb-4">메뉴</h5>
        <div class="row" id="menu-container">
          <!-- 메뉴 항목이 여기 추가될 예정 -->
        </div>
      </div>

      <div class="tab-content" id="photos">
        <h5>사진</h5>
        <div id="photos-container">
          <!-- 사진이 여기 추가될 예정 -->
        </div>
      </div>
      <div class="tab-content" id="reviews">
        <h5>리뷰</h5>
        <div id="reviews-container">
          <!-- 리뷰가 여기 추가될 예정 -->
        </div>
      </div>

      <div class="tab-content" id="store-info">
        <h5>매장정보</h5>
        <div id="store-info-container">
          <!-- 매장 정보가 여기 추가될 예정 -->
        </div>
      </div>
    </div>

    <!-- 위치 모달 템플릿 포함 -->
    {% include 'partials/location_modal.html' %}

    <!-- 캘린더 모달 템플릿 포함 -->
    {% include 'partials/calendar_modal.html' %}

    <footer>
      <div class="row">
        <div class="col-1">
          <span class="bookmark-icon">
            <img src="/static/img/Bookmark.png" alt="즐겨찾기 아이콘" />
          </span>
        </div>
        <div class="col-10 btn-container">
          <button
            class="custom-danger btn btn-block"
            style="color: #fff; padding: 10px; margin-right: 1px;"
            data-toggle="modal"
            data-target="#calendarModal"
          >
            예약하기
          </button>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=212301aed0cac29616f97d494d63e9b0&libraries=services"
    ></script>
  </body>
</html>
