<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Wine Preference</title>
    <link href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/taste_survey.css" type="text/css" />
    <style>
    </style>
</head>
<body>

    <div class="slider" id="slider" aria-live="polite">
        <!-- 첫 번째 화면 -->
        <div class="screen">
            <div class="question">어떤 종류의 주류를 가장 선호하시나요?</div>
            <div class="options">
                <button class="option-button">맥주</button>
                <button class="option-button">와인</button>
                <button class="option-button">칵테일</button>
                <button class="option-button">위스키</button>
                <button class="option-button">보드카</button>
                <button class="option-button">진</button>
            </div>
        </div>
        
        <!-- 두 번째 화면 -->
        <div class="screen">
            <div class="question" id="second-question">어떤 맛을 가장 중요하게 생각하시나요?</div>
            <div class="options" id="second-options">
                <button class="option-button">드라이</button>
                <button class="option-button">미디엄</button>
                <button class="option-button">스위트</button>
            </div>
        </div>
    
    </div>
    
    <div class="indicator" id="indicator">
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
    
    <!-- 다음 버튼 -->
    <div id="next-btn" class="next-button">다음</div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/taste_survey.js"></script>
    <script>
        
    </script>
    
</body>
</html>