html::-webkit-scrollbar, 
body::-webkit-scrollbar {
    display: none;  
}

body {
    font-family: 'Pretendard', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 좌우로 요소 배치 */
    background-color: white;
    padding: 10px 15px;
    border-bottom: 1px solid #e0e0e0;
}

.back-icon {
    flex-basis: auto;
    margin-right: auto; /* 왼쪽으로 고정 */   
}

.back-icon img {
    width: 24px; /* 원하는 너비로 조정 */
    height: 24px; /* 원하는 높이로 조정 */
    object-fit: contain; /* 이미지 비율 유지 */
}



.navbar-title {
    position: absolute; /* 중앙 정렬을 위해 position 속성 사용 */
    left: 50%;
    transform: translateX(-50%); /* 정확한 중앙 배치 */
    font-size: 18px;
    font-weight: bold;
}


/* Container */
.container {
    padding: 20px;
}

.restaurant-list {
    margin-top: 20px;
}

.restaurant-item {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.restaurant-img {
    width: 85%;
    border-radius: 8px;
    height: 100px;
    object-fit: cover;
}

.bookmark-icon img {
    float: right; 
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.tags {
    margin-top: 5px;
}

.tag {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    margin-right: 5px;
}

.tag.red {
    background-color: #ff5c5c;
    color: white;
}

.tag.black {
    background-color: #333;
    color: white;
}

.description {
    font-size: 13px;
    color: #555;
    margin-top: 5px;
    margin-bottom: 0.1rem;
}

.rating {
    font-size: 1rem;
    font-weight: bold;
    color: #f39c12;
    margin-top: 5px;
}

/* 메모 버튼 스타일 */
.memo-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #ffffff; 
    color: #ff5c5c;  
    font-weight: bold;
    border: 1px solid #ff5c5c; 
    border-radius: 5px;  
    font-size: 16px;  
    text-align: center;  
    cursor: pointer;  
    transition: background-color 0.3s ease; 
    margin-bottom: 0.6rem;
}



h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}




.toast-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(51, 51, 51, 0.9);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    z-index: 1000;
    font-size: 1rem;
}
.toast-message.show {
    opacity: 1;
    visibility: visible;
}

/* SweetAlert2의 네/아니오 버튼을 화면 양 끝에 배치 */
.swal2-actions {
    display: flex;
    justify-content: space-between;  /* 버튼을 화면의 양 끝에 배치 */
    width: 100%;  
    padding: 0 15vw; 
}

/* 버튼 스타일 */
.swal2-confirm-btn, .swal2-cancel-btn {
    padding: 2vh 5vw; 
    background-color: #3085d6; /* 확인 버튼의 기본 색상 */
    color: white;
    border: none;
    border-radius: 5px;
}

.swal2-cancel-btn {
    background-color: #d33;  /* 취소 버튼의 색상 */
}





/* 페이징 버튼 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    cursor: pointer;
}
.pagination button.active {
    font-weight: bold;
    background-color: #F0394F;
    color: white;
}