body, button, input, textarea {
  font-family: 'Pretendard Variable', sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
  
  
}
.chat-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.chat-header {
  padding: 15px;
  background-color: #ba004a;
  color: #ffffff;
  text-align: center;
}
.chat-messages {
  flex: 1;
  overflow-y: auto; 
  padding: 15px;
  background-color: #e9ecef;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}


.chat-messages::-webkit-scrollbar {
  display: none; 
}


.faq-buttons {
  background-color: #e9ecef;
  display: flex;
  overflow-x: auto;
  white-space: nowrap; 
  -ms-overflow-style: none; 
  scrollbar-width: none;
  padding: 4px 3px;
  border-radius: 8px;
}

.faq-buttons::-webkit-scrollbar {
  display: none; 
}

.faq-button {
  background-color: white;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 20px;
  padding: 8px 16px;
  margin-right: 8px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.faq-button:hover, .faq-button:focus {
  background-color: #e9ecef;
  color: #212529;
  border-color: #adb5bd;
  outline: none;
}

.faq-button:active {
  transform: translateY(1px);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.chat-input {
  display: flex;
  border-top: 1px solid #dee2e6;
  
}
.chat-input textarea {
  flex: 1;
  padding: 10px;
  border: none;
  resize: none;
  height: 50px; 
}
.chat-input button {
  padding: 10px 20px;
  border: none;
  background-color: #ba004a;
  color: #ffffff;
}
.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  white-space: pre-wrap; 
}
.message.user {
  background-color: #d1ecf1;
  text-align: right;
}
.message.bot {
  background-color: #f8d7da;
  text-align: left;
}