/* 기본 설정 및 환경 고려 */
body {
  background-color: #f8d7da; /* 연한 핑크 배경 */
  font-family: "Arial", sans-serif; /* 글꼴 설정 */
  padding: env(safe-area-inset);
}

/* 컨테이너 설정 */
.container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff; /* 배경색 */
  border-radius: 8px; /* 모서리 둥글게 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

/* 와인 이미지 설정 */
.wine-image img {
  width: 100%;
  max-width: 200px; /* 이미지 최대 크기 설정 */
  display: block;
  margin: 20px auto; /* 중앙 정렬 */
}

/* 텍스트 스타일 */
h3,
p {
  color: #333; /* 글자 색상 */
  margin: 10px 0;
}

/* 평점 바 컨테이너 */
.rating-container {
  margin: 20px 0;
}

.rating-bar-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 20px;
}

.rating-bar {
  flex-grow: 1;
  position: relative;
  height: 20px;
  background-color: #e0e0e0; /* 배경색 */
  border-radius: 10px; /* 모서리 둥글게 */
  overflow: hidden;
  margin-right: 10px;
}

.rating-fill {
  height: 100%;
  background-color: #ffc107; /* 성공색 배경 */
  border-radius: 10px; /* 내부 막대 모서리 둥글게 */
}

.rating-bar .text {
  position: absolute; /* 텍스트 위치 조정 */
  left: 10px; /* 왼쪽 여백 */
  top: 50%; /* 상단에서 50% 위치 */
  transform: translateY(-50%); /* Y축 중앙 정렬 */
  margin: 0; /* 기본 마진 제거 */
  color: #333; /* 텍스트 색상 */
  font-size: 14px; /* 폰트 크기 설정 */
  z-index: 2; /* 텍스트가 바 위에 오도록 */
}

.rating-avg {
  margin-top: 20px;
  font-size: 24px;
  color: #333;
}

.rating-avg p {
  margin: 0;
}

/* 리뷰 섹션 */
.review-section {
  max-height: 200px; /* 최대 높이 설정 */
  overflow-y: scroll; /* 수직 스크롤 허용 */
  padding: 10px;
  background-color: #f9f9f9; /* 연한 배경색 */
  border: 1px solid #e0e0e0; /* 테두리 */
  border-radius: 8px; /* 모서리 둥글게 */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* 내부 그림자 */
}

/* 스크롤 바 숨기기 */
.review-section::-webkit-scrollbar {
  width: 0; /* 웹킷 브라우저에서 스크롤바 숨기기 */
  height: 0;
}

.review-section {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.review {
  margin-bottom: 10px; /* 리뷰 간 간격 */
  text-align: left; /* 리뷰 텍스트 정렬 */
}

.review p {
  margin: 0; /* 기본 마진 제거 */
  color: #555; /* 텍스트 색상 */
}
