/* 모든 스크롤바가 보이지 않도록 설정 */
* {
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
  font-family: 'Pretendard Variable', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #333;
}

.container {
  padding-left: 4vw;
  padding-right: 2vw;
  overflow-x: hidden; /* 가로 스크롤 방지 */
}

.user-greeting {
  font-weight: 400;
  color: #5E5B5D;
  margin-bottom: -10px;
}

.wine-prompt {
  color: #000000;
  font-weight: bold;
  font-size: 22px;
}

.wine-recommendation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 30px;
  border-top-right-radius: 45px; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  color: #fff;
  margin-bottom: 20px;
  margin-left: -4vw; /* 왼쪽 여백 제거 */
  margin-right: -2vw; /* 오른쪽 여백 제거 */
  width: calc(100% + 6vw); /* 전체 너비를 늘려 양쪽으로 확장 */
  box-sizing: border-box;
}

.wine-info {
  max-width: 60%;
  text-align: left;
}

.wine-image {
  max-width: 30%;
}

.wine-image img {
  width: 150%;
  height: auto;
  border-radius: 8px;
  filter: drop-shadow(0 6px 15px rgba(255, 255, 255, 0.4)); 
  margin-left: -35%;
}

.popular-restaurants {
  background-color: #ffffff;
  padding-right: 3vw;
  border-radius: 12px;
  margin-bottom: 12vw;
}

.best-prompt {
  margin-bottom: 0;
  font-family: 'Pretendard Variable';
  font-weight: 400;
  color: #5E5B5D;
}

.popular-restaurants h3 {
  font-size: 1.4em;
  margin-top: 5px;
  margin-bottom: 3vw;
  color: #333;
  font-weight: 800;
}

.restaurant-list {
  display: flex;
  height: 100%;
  overflow-x: auto;
  scrollbar-width: none;
  padding-bottom: 40px;
}

.restaurant-item {
  min-width: 100px;
  margin-right: 5vw;
  text-align: center;
}

.restaurant-item img {
  width: 90%;
  height: 50%;
  margin-left: -10px;
  border-radius: 12px;
  margin-bottom: 8px;
}
.restaurant-item p{
  font-weight: 800;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.restaurant-name {
  font-size: 10px;
  text-align: left;
  margin-top: 3px;
  margin-left: 2px;
}

.restaurant-tags {
  text-align: left;
  margin-left: 2px;
}

.tag {
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 5px;
  color: white;
}

.tag.red {
  background-color: #e1707a;
}

button {
  padding: 12px 25px;
  background-color: #ff3b3b;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff6565;
}

/* 반응형 미디어 쿼리 */
@media (max-width: 768px) {
  .wine-recommendation {
    flex-direction: row;
  }

  .wine-info {
    text-align: left;
    max-width: 60%;
  }

  .wine-image {
    max-width: 30%;
  }
  .advertisement {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
  }
  .card {
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-right: 10px;
  }
}