html, body {
  overflow-y: auto;
  height: 100%; 
  margin: 0; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.container-fluid {
    
    height: 100%; 
    overflow-y: auto; 
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}


.container-fluid::-webkit-scrollbar {
    display: none;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;  
  overflow-x: auto;
  padding-bottom: 10px;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  width: 100%;
}


.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.scrolling-wrapper > .post {
    flex: 0 0 auto; 
    min-width: 200px; 
}

.post {
    width: 200px;
    height: 150px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-right: 10px;
    text-align: center;
    line-height: 150px;
}

.btn_title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}

.subAttr {
  color:rgba(160, 159, 159, 0.841);
  font-size: 14px;
  margin-bottom: 1px;
}

.main_card {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  min-width: 90vw;
  min-height: 35vw;
  margin: 10px;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: none;
}

.card {
  min-width: 200px;
  margin: 10px;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: none;
}

.circular-cards .rad_btn_sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px; 
  text-align: center; 
  flex: 1;
}

.circular-cards .icon-circle {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  background-color: #f8f9fa; 
  border: 1px solid #ddd; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px; 
}

.circular-cards p {
  margin: 0; 
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
}
.floating-button i {
  font-size: 24px;
}

.rad_btn_sm, .post {
  cursor: pointer;
}

.wine-image {
  width: 100%;
  height: auto;
  background: url('path_to_your_image.jpg') no-repeat center center;
  background-size: contain;
}
.description {
  text-align: center;
  margin: 20px;
}
.rating, .price {
  margin: 10px;
}
.gallery {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}
.gallery img {
  width: 100px;
  height: 100px;
  margin: 10px;
}