html, body {
  overflow-y: auto;
  height: 100%; /* Ensure the body takes full height */
  margin: 0; /* Remove default margin */
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.container-fluid {
    
    height: 100%; /* Ensure the container takes full height */
    overflow-y: auto; /* Enable vertical scrolling */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide vertical scrollbar for webkit browsers */
.container-fluid::-webkit-scrollbar {
    display: none;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;  /* Ensure items do not wrap */
  overflow-x: auto;
  padding-bottom: 10px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  width: 100%;
}

/* Hide horizontal scrollbar */
.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.scrolling-wrapper > .post {
    flex: 0 0 auto; /* Ensure posts do not shrink */
    min-width: 200px; /* Ensure posts have a minimum width */
}

.post {
    width: 200px;
    height: 150px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-right: 10px;
    text-align: center;
    line-height: 150px;
}

.btn_title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}

.subAttr {
  color:rgba(160, 159, 159, 0.841);
  font-size: 14px;
  margin-bottom: 1px;
}

.main_card {
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  min-width: 90vw;
  min-height: 35vw;
  margin: 10px;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: none;
}

.card {
  min-width: 200px;
  margin: 10px;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: none;
}

.circular-cards .rad_btn_sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px; /* 주변 여백 */
  text-align: center; /* 텍스트 중앙 정렬 */
  flex: 1;
}

.circular-cards .icon-circle {
  width: 50px; /* 원하는 너비로 설정 */
  height: 50px; /* 원하는 높이로 설정 */
  border-radius: 50%; /* 완벽한 원형 모양 */
  background-color: #f8f9fa; /* 배경색 */
  border: 1px solid #ddd; /* 테두리 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px; /* 원과 텍스트 사이의 간격 */
}

.circular-cards p {
  margin: 0; /* 텍스트 주위의 여백 제거 */
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
}
.floating-button i {
  font-size: 24px;
}