
/* 모든 요소에서 스크롤바 숨기기 */
html, body {
    overflow-x: hidden; 
    overflow-y: auto; 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
.container::-webkit-scrollbar,
.slider-container::-webkit-scrollbar,
.image-slider::-webkit-scrollbar,
.restaurant-name::-webkit-scrollbar,
.bi-star-fill::-webkit-scrollbar,
.reservation-heading::-webkit-scrollbar,
.bi-calendar-event::-webkit-scrollbar,
h5::-webkit-scrollbar,
h6::-webkit-scrollbar,
.col-1::-webkit-scrollbar {
    display: none; 
}




html, body {
    overflow-y: auto;
    font-family: 'Pretendard Variable', sans-serif;
    margin-bottom: 80px; 
    
}


.container {
    max-width: 500px;
    margin: auto;
    padding-top: 20px;
    
}





.dish-type {
    color: #858284;
}

.rating {
    margin-right: 10px;
    font-weight: bold;
}

.btn-separator {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-separator .btn {
    flex: 1;
    text-align: center;
}

.vertical-line {
    height: 40px;
    width: 1px;
    background-color: #ddd;
    margin: 0 20px;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    border-radius: 10px;
}

.image-container .image-number {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.separator {
    margin-top: 20px;
    color: #ECECEC;
    border-width: 5px;
}

.reservation-heading {
    font-weight: bold;
    margin-top: 30px;
}

.date-details {
    font-size: large;
}

#dateInfo {
    border-color: #CCC9CB;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    padding: 10px;
    padding-left: 20px;
    margin-top: 20px;
}

.reservation-times button {
    margin-bottom: 10px;
}

.custom-outline-danger {
    color: #dc3545;
    border: 1px solid #dc3545;
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.custom-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.custom-danger {
    color: #fff;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.custom-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-block {
    display: block;
    width: 100%;
}

.bookmark-icon img {
    width: 40px;
    height: 40px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .row {
    width: 100%;
    max-width: 500px;
}

footer .btn {
    width: 100%;
    max-width: calc(100% - 20px);
    margin: 0 auto;
}


.modal-dialog {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
}

.modal-content {
    height: auto; 
    max-height: 80%; 
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.modal-body {
    display: flex;
    flex-direction: column; 
}

.modal-header-info {
    flex: 0 0 auto; 
    padding: 16px;
    background-color: #fff; 
    border-bottom: 1px solid #ddd; 
}

.modal-title {
    margin-top: 0;
    color: #333; 
    font-size: 20px; 
    font-weight: bold;
}

.modal-address {
    margin-bottom: 0;
    color: #666; 
    font-size: 16px;
}

#map-container {
    max-height: 300px; 
    padding: 10px; 
    overflow: hidden; 
    border-radius: 8px; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
}

#map {
    flex: 1 1 auto; 
    height: 300px; 
    width: 100%; 
}

.custom-map-button {
    display: block;
    width: 85%;
    background-color: red;
    color: white;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 20px auto 0 auto; 
}

.custom-map-button:hover {
    background-color: darkred;
}

.tab-button {
    flex: 1; 
    padding: 15px;
    text-align: center;
    background-color: #f9f9f9; 
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 2px solid transparent; 
}

.tab-button.active {
    background-color: white; 
    border-bottom: 2px solid #FF6600; 
    color: #FF6600; 
}

.tab-navigation {
    display: flex;
    border-bottom: 2px solid #ddd; 
    margin-bottom: 15px;
}


.tab-content {
    display: none;
    padding: 20px; 
    background-color: #fff; 
}

.tab-content.active {
    display: block;
}

.tab-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}


.tab-content h5 {
    color: #333;
    margin-bottom: 10px;
}

.slider-container {
    width: 100%;
    overflow: hidden; 
    position: relative;
    margin-top: 20px;
}

.image-slider {
    display: flex;
    transition: transform 0.5s ease-out;
}

.slide {
    width: 100%;
    flex: 0 0 100%;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}


.navigation-manual {
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
}

.manual-btn {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 2px;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .slide {
    display: block;
}

#nav-1:checked ~ .image-slider { transform: translateX(0%); }
#nav-2:checked ~ .image-slider { transform: translateX(-100%); }
#nav-3:checked ~ .image-slider { transform: translateX(-200%); }

body {
    font-family: 'Pretendard Variable', sans-serif;
    margin-bottom: 80px; 
}

.container {
    max-width: 500px;
    margin: auto;
    padding-top: 20px;
}

.slider-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.image-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.slide img {
    width: 100%;
    border-radius: 10px;
    display: block;
}


/* 메뉴 카드 스타일 */
.menu-item-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.menu-item-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.menu-item-card img {
    width: 110%;
    height: 180px;
    object-fit: cover;
    
}

.menu-item-card .card-body {
    padding: 15px;
}

.menu-item-card h5 {
    margin-bottom: 10px;
    color: #333;
}

.menu-item-card p {
    margin-bottom: 5px;
    color: #666;
}

.menu-item-card .card-price {
    font-weight: bold;
    color: #dc3545;
}

.menu-item-card .btn {
    margin-top: 10px;
}


/* 캘린더 스타일 */
/* Update the calendar header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

/* Update the calendar table styles */
.calendar {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
    margin-bottom: 20px;
}

.calendar th,
.calendar td {
    padding: 15px;
    text-align: center;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.calendar th {
    background-color: #ffffff;
    color: #333;
    font-weight: bold;
}

/* Style selected date */
.calendar .selected {
    background-color: #D0273B;
    color: white;
}

/* Style for disabled dates */
.calendar .disabled {
    color: #c0c0c0;
    background-color: #f9f9f9;
    pointer-events: none;
}



/* Time Picker Styles */
.time-picker {
    margin-top: 20px;
}

.time-container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
}

.time-container::-webkit-scrollbar {
    display: none;
}

.time-button {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: #D0273B;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s;
}

.time-button:hover {
    background-color: #e67300;
}



/* People Picker Styles */
.people-picker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.people-picker label {
    font-size: 16px;
    color: #333;
    margin-right: 10px;
}

#people {
    width: 60px;  /* Adjust the width as needed */
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#people:focus {
    border-color: #FF4500;
    box-shadow: 0 0 8px rgba(255, 69, 0, 0.2);
}




/* Button styles for previous and next month */
.prev-month, .next-month {
    background-color: #ffffff;
    border: none;
    color: #333;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
}



.prev-month:hover, .next-month:hover {
    color: #FF4500;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .calendar-container {
        padding: 10px;
    }

    .calendar th, .calendar td {
        padding: 8px;
    }

}

.selected {
    background-color: #d9534f;
    color: white;
}
.disabled {
    background-color: #e9ecef;
    color: #6c757d;
    pointer-events: none;
}
.slider-counter {
    position: absolute;
    bottom: 10px;
    right: 15px;
    background-color: rgba(0,0,0,0.5); /* 반투명 배경 */
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    display: block; /* 항상 표시 */
    z-index: 10; /* 다른 요소 위에 표시되도록 설정 */
 }
 
 #slider {
    display: flex;
    transition: transform ease-in-out .3s;
 }
 
 .slide {
    flex: none;
    width: 100vw; /* 화면 너비에 맞게 설정 */
    height: auto; /* 높이는 자동으로 조정 */
 }
 
 .slide img {
    width: 90%;
    height: auto; /* 이미지 비율 유지 */
    object-fit: cover; /* 이미지가 컨테이너에 맞게 채워짐 */
    margin-left: 1%;
 }