html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.box {
  -ms-overflow-style: none;
}
.map_wrap,
.map_wrap * {
  margin: 0;
  padding: 0;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  font-size: 12px;
}
.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
  color: #000;
  text-decoration: none;
}
.map_wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}
#menu_wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  font-size: 12px;
  border-radius: 10px;
}
.bg_white {
  background: #fff;
}
#menu_wrap hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #5f5f5f;
  margin: 3px 0;
}
#menu_wrap .option {
  text-align: center;
}
#menu_wrap .option p {
  margin: 10px 0;
}
#menu_wrap .option button {
  margin-left: 5px;
}
#map {
  width: 100%;
  height: 100%;
}

.search-bar {
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  z-index: 1000;
  margin-top: 70px;
}

.search-bar .search-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.search-bar input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 13px;
  font-weight: 550;
  color: #ccc9cb;
}

.map_wrap .SearchBar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  display: flex;
  justify-content: center;
  background: white;
  padding: 5px;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
}

.map_wrap .SearchBar input {
  flex-grow: 1;
  border: none;
  margin-right: 5px;
  padding: 10px;
  border-radius: 25px;
}
.map_wrap .SearchBar button {
  padding: 10px;
  border: none;
  background-color: #ff5722;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  padding: 8px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .map_wrap .SearchBar {
    width: 95%;
    padding: 10px;
    top: 5px;
  }
  .map_wrap .SearchBar input {
    padding: 8px;
  }

  .category-swiper {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
   
    width: fit-content;
}

  .category {
    padding: 8px 12px;
    font-size: 12px;
  }

  .res_info_swiper {
    bottom: 10px !important;
    padding: 0 5px;
  }
  .res_info {
    padding: 8px 12px;
    font-size: 12px;
  }
}

.category-swiper {
  position: absolute;
  top: 120px;
  left: 20px;
  width: calc(100% - 40px);
  overflow-x: auto;
  white-space: nowrap;
  z-index: 1000;
  scrollbar-width: none;
}
.category-swiper::-webkit-scrollbar {
  display: none;
}
.categories {
  display: inline-block;
}
.category {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #ffffff;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid #cccccc;
}

.category:last-child {
  margin-right: 0;
}

.res_info_swiper {
  position: fixed !important;
  bottom: 10px !important;
  left: 5px !important;
  right: 5px !important;
  overflow-x: auto;
  white-space: nowrap;
  z-index: 10000 !important;
  border-radius: 10px;
  padding: 13px;
  background-color: rgba(0, 0, 0, 0);
}

.res_info_swiper::-webkit-scrollbar {
  display: none;
}

.res_info {
  display: inline-block;
  margin-right: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  width: 40vh;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  max-width: 100%;
}

.res_info:hover {
  background-color: #f1f1f1;
}

.image-container {
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.cover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.place-name {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.category-icon,
.bookmark-icon img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.bookmark-icon {
  margin-left: auto;
  cursor: pointer;
}

.tag-container {
  display: flex;
  margin-top: 5px;
}

.tag {
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 4px;
  margin-right: 5px;
  color: white;
}

.tag.red {
  background-color: #e1707a;
}

.tag.black {
  background-color: #2e2b2d;
}

.description,
.rating {
  font-size: 11px;
  padding-top: 5px;
  color: #4b494a;
}

.rating {
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  bottom: 0; 
  width: 100%; 
  height: auto;
  max-height: 70%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  transition: max-height 0.3s ease-out;
}

.modal-content {
  width: 100%; 
  max-width: 100%; 
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: auto;
  max-height: 65%;
  margin: 0; 
}

.modal-content h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-section {
  margin-bottom: 15px;
}

.filter-buttons {
  display: flex;
  gap: 10px; 
}

.filter-buttons .btn {
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 8px 15px;
  background-color: #f1f1f1;
  cursor: pointer;
  flex: 1; 
  text-align: center;
  white-space: nowrap;
}

.filter-buttons .btn-active {
  background-color: #000;
  color: #fff;
}

.filter-buttons .btn-close {
  background-color: #ddd;
}

.filter-buttons .btn-apply {
  background-color: #ff0000;
  color: #fff;
}

.slider-container {
  position: relative;
  margin: 10px 0;
}

.slider-container input[type="range"] {
  width: 100%;
}

.blur-background {
  filter: blur(5px);
}

.drag-handle {
  width: 100%;
  height: 20px;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1; 
  border-radius: 10px 10px 0 0;
}

.drag-handle::before {
  content: "";
  width: 40px; 
  height: 4px; 
  background-color: #ccc; 
  border-radius: 2px; 
  display: block; 
}





body {
  font-family: 'Pretendard Variable', sans-serif;
}

#my_loc {
  position: absolute;
  bottom: 10vh;
  margin-bottom: 5vh;
  left:42vh;
  z-index: 10;
}

#my_loc_img {
  width: 40px !important;
  height: 40px !important;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-color: #fff;
}

@media (max-width: 767px) {
  #my_loc {
      bottom: 21dvh;
  }

  #my_loc_img {
      width: 40px !important;
      height: 40px !important;
  }
}