

/* api 관련 css */
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}


/* 검색 바 */
.map_wrap .search-bar {
    position: absolute;
    top: 10px; /* 위치 조정 필요 시 변경 */
    left: 50%;
    transform: translateX(-50%);
    z-index: 5; /* 지도 위에 표시되도록 z-index 설정 */
    display: flex;
    justify-content: center;
    width: 90%; /* 또는 원하는 너비로 조정 */
    background: white; /* 검색 바의 배경색 */
    padding: 5px;
    border-radius: 25px; /* 둥근 모서리 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* 그림자 효과 */
}

.map_wrap .search-bar input {
    flex-grow: 1;
    border: none;
    margin-right: 5px;
    padding: 10px;
    border-radius: 25px; /* 입력 필드도 둥근 모서리 */
}

.map_wrap .search-bar button {
    padding: 10px;
    border: none;
    background-color: #ff5722; /* 버튼 색상 */
    color: white;
    border-radius: 25px; /* 버튼도 둥근 모서리 */
    cursor: pointer;
}

/* 화면 크기에 따라 스타일 조정 (반응형 디자인) */
@media (max-width: 768px) {
    .map_wrap .search-bar {
        width: 100%;
        top: 5px; /* 모바일 화면에서의 위치 조정 */
    }
}



/* 스크롤 바를 숨기기 위한 CSS */
.category-swiper {
    position: absolute;
    top: 70px;
    left: 20px;
    width: calc(100% - 40px);
    overflow-x: auto;
    white-space: nowrap;
    z-index: 1000;
    
    /* 스크롤 바 숨기기 */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.category-swiper::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.categories {
    display: inline-block;
}

.category {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
}

.category:last-child {
    margin-right: 0;
}
